@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
body{
    background-color: #e6e5db;
}
#header{
    background-color: #694abb;
    height: 15%;
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4vh;
    color: #e6e5db;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headerLink{
    color: #e6e5db;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 1.4vh;
    text-decoration: none;
    margin:auto;

}
.headerLink:hover{
    color: #e6e5db;
}
#header .headerLink{
    position: relative;
    display: block;
    padding: 5px;
}
#header .headerLink::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
  }
#header .headerLink:hover::before {
    transform: scaleX(1);
}
#header[data-animation=center] .headerLink::before {
    transform-origin: center;
}
#footer{
    bottom: 0%;
    width: 100%;
    height: 6%;
    background-color: #694abb;
    margin-bottom: 0%;

}
.logo{
    margin-left: 0%;
    width: 7vh;
    height: 7vh;
}
.PlacesPostMenu{
    background-color: #e6e5db;
    height: 10%;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: inherit;
    font-size: 1.4vh;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.PlacesPostMenu .MenuLinks{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    text-decoration: none;
    color: #000000;
    padding: 0.5%;
    margin-left: 2%;
    border-color: #1f9eff;
    border-style: groove;
    background-color:#e6e5db ;
    cursor: pointer;
}
.MenuLinks:hover{
    background-color:#1f9eff ;
    color: #e6e5db;
}

.wrapper{
    display: grid;
    height: 100%;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 3% 20%;
    
    padding-left: 19%;
}
.containerGrid{
    height: 100%;
    background-color: #e6e5db;
    padding: 20px;
    padding-top: 3%;
    margin: auto;
    box-shadow: 0 0 30px #ffffff;
    border-radius: 4%;
}
.containerGrid p{
    margin-top: 1%;
    margin-left:60% ;
    margin-bottom: 2%;
}
.InfoPlace {
    margin-top: 4%;
    display: grid;
    grid-gap: 50px;
    color: #000000;
    text-align: left;
}
.divFavorites{
    margin-top: 5%;
}
.bi-star-fill{
    color: yellow;
    cursor: pointer;
}
.divFavorites i:hover{
    color: rgb(181, 88, 235);
}
#tablePlaceList{
    height: 100%;
    width: 90%;
    background-color: #e6e5db;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
#tr1PlaceList{
    border-radius: 10px;
    color: #ffffff;
    width: 100%;
}
#tr1PlaceList th{
    background-color: #694abb;
}
#tr2PlaceList{
    background-color: #e6e5db;
}
#tr2PlaceList:hover{
    background-color: #cfcfcf;
}
.bi-eye{
    color: #1f9eff;
}
.bi-eye:hover{
    color: #89c4f0;
}
.bi-pencil-square{
    color: #694abb;
}
.bi-pencil-square:hover{
    color: #a093c2;
}
.bi-trash3{
    color: red;
}
.bi-trash3:hover{
    color: rgb(250, 176, 176);
}
#optionsPlaceGrid{
    margin-top: 5%;
}
#optionsPlaceGrid i{
    margin-top: 5%;
    padding-left: 2%;
}
.addPlace{
    height: 65%;
    width: 30%;
    background-color: #694abb;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: rgb(10, 10, 10);
    padding: 50px 35px;
}
.addPlaceButton{
    margin-top: 50px;
    width: 100%;
    background-color: #e6e5db;
    color: #000000;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
#visibility{
    color: #000000;
    background-color: rgba(255,255,255,0.07);
    width: 30%;
}
#visibility option{
    color: #000000;
    background-color: #e6e5db;
}
.bi-trash3{
    height: 5px;
}
.bi-pencil-square{
    height: 5px;
}
.bi-eye{
    height: 10px !important;
}
button{
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .wrapper{
        display: grid;
        grid-template-columns: 100px;
        grid-gap: 2%;
        overflow: hidden;
        padding-left: 8%;
    }
    .containerGrid{
        height: 100%;
        background-color: #e6e5db;
        padding: 20px;
        margin: auto;
        box-shadow: 0 0 30px #ffffff;
        border-radius: 4%;
    }
    
    .InfoPlace {
        margin-top: 4%;
        display: grid;
        grid-gap: 50px;
        color: #000000;
        text-align: left;
    }
    .divFavorites{
        margin-top: 5%;
    }
}